<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <style lang="css">
            .container {
                padding: 10px 30px;
                background-color: #f9f9f9;
                border-radius: 10px;
            }

            .strong-text {
                font-weight: 800;
            }

            .red-color {
                color: #965454;
            }

            .dark-red-color {
                color: #874949;
            }

            .gray-color {
                color: #484848;
            }
            
            .yellow-color {
                color: #939357;
            }

            textarea, table {
                width: 100%;
            }

            textarea {
                min-width: 100%;
                max-width: 100%;
            }
        </style>
    </head>
    <body class="gray-color container" style="max-width: 1024px; margin: 0 auto">
        <h1 class="dark-red-color">Critical error on NDAX</h1>

        <h2 class="red-color">Request</h2>

        <table>
            <tr>
                <td class="strong-text">Date</td>
                <td>{{additionally.date}}</td>
            </tr>
            <tr>
                <td class="strong-text">Time</td>
                <td>{{additionally.time}}</td>
            </tr>
            <tr>
                <td class="strong-text" style="width: 220px">Protocol</td>
                <td>{{request.protocol}}</td>
            </tr>
            <tr>
                <td class="strong-text">URL</td>
                <td>{{request.url}}</td>
            </tr>
            <tr>
                <td class="strong-text">Host</td>
                <td>{{request.hostname}}</td>
            </tr>
            <tr>
                <td class="strong-text">Method</td>
                <td>{{request.method}}</td>
            </tr>
        </table>

        <h3 class="red-color">Query parameters</h3>
        <table>
            {{#each request.query}}
            <tr>
                <td class="strong-text" style="width: 220px">{{@key}}</td>
                <td>{{this}}</td>
            </tr>
            {{else}}
            <tr>
                <td class="yellow-color"><b>Request without query parameters.</b></td>
            </tr>
            {{/each}}
        </table>

        <h3 class="red-color">Headers</h3>
        <table>
            {{#each request.headers}}
                <tr>
                    <td class="strong-text" style="width: 220px">{{@key}}</td>
                    <td>{{this}}</td>
                </tr>
            {{else}}
            <tr>
                <td class="yellow-color"><b>Request without headers.</b></td>
            </tr>
            {{/each}}
        </table>

        <h3 class="red-color">Cookies</h3>
        <table>
            {{#each request.cookies}}
                <tr>
                    <td class="strong-text" style="width: 220px">{{@key}}</td>
                    <td>{{this}}</td>
                </tr>
            {{else}}
            <tr>
                <td class="yellow-color strong-text">Request without cookies.</td>
            </tr>
            {{/each}}
        </table>

        <h3 class="red-color">Body</h3>
        <table>
            {{#each request.body}}
            <tr>
                <td class="strong-text" style="width: 220px">{{@key}}</td>
                <td>{{this}}</td>
            </tr>
            {{else}}
                <tr>
                    <td class="yellow-color strong-text">Request without body.</td>
                </tr>
            {{/each}}
        </table>

        <label for="bodyJson"><b>Body JSON:</b></label>
        <textarea id="bodyJson" rows="5">{{additionally.bodyJson}}</textarea>

        <h2 class="dark-red-color">Exception:
            {{#if exception.message.message}}
                {{exception.message.message}}
            {{else}}
                {{exception.message}}
            {{/if}}
        </h2>

        <h3>Exception instance of <span class="dark-red-color strong-text">{{additionally.exceptionType}}</span></h3>

        <h3>Stack trace</h3>
        <table>
            {{#each stackTrace}}
            <tr>
                <td>{{this}}</td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
